@model  HR_Demo_With_Both_Ways.Models.AllowanceViewModel

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("Save", "Allowance"))
{
<div class="col-md-12">
    <div class="col-md-4">
        <label>Allowance Name</label>
        @Html.TextBoxFor(x=>x.Allowance.ALLOWANCE_NAME)
    </div>
    <div class="col-md-4">
        <label>Min Value</label>
        @Html.TextBoxFor(x=>x.Allowance.MIN_VALUE)
    </div>
    <div class="col-md-4">
        <label>Max Value</label>
        @Html.TextBoxFor(x => x.Allowance.MAX_VALUE)
    </div>
    @Html.HiddenFor(x=>x.Allowance.SEQID)
</div>
<div class="col-md-12">
    <button type="submit">Save</button>

</div>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                Allowance name
            </td>
            <td>
                Min Value
            </td>
            <td>
                Max Value
            </td>
            <td>
                Action
            </td>
            <td>
                Delete
            </td>
        </tr>
       
    </thead>
    <tbody>
        @foreach(var item in Model.AllowanceList)
        {


        <tr>
            <td>@item.ALLOWANCE_NAME</td>
            <td>@item.MIN_VALUE</td>
            <td>@item.MAX_VALUE</td>
            @*<td><a href="/Allowance/Index/@item.SEQID">Edit</a></td>*@
            <td><a onclick="GetAllowanceById(@item.SEQID)">Edit</a></td>
            <td><a href="/Allowance/Delete/@item.SEQID">Delete</a></td>
        </tr>
        }
    </tbody>
</table>

<script>
    function GetAllowanceById(id) {
        var promises = GetAjaxDataPromise('@Url.Action("GetAllowanceById", "Allowance")', { id: id});
        promises.done(function (response) {
            $('#Allowance_ALLOWANCE_NAME').val(response.ALLOWANCE_NAME);
            $('#Allowance_MIN_VALUE').val(response.MIN_VALUE);
            $('#Allowance_MAX_VALUE').val(response.MAX_VALUE);
            $('#Allowance_SEQID').val(response.SEQID);
        });

    }
     function GetAjaxDataPromise(url, postData) {
        debugger;
        var promise = $.post(url, postData, function (promise, status) {
        });
        return promise;
    };
  

</script>